header
{
    text-align: center;
}

body
{
    background-color: rgb(64, 64, 64);
    color: white;
    font-size: 22px;
}

.reset
{
    width: 100px;
    height: 40px;
    font-size: 22px;
    margin: 10px;
}

div
{
    text-align: center;
    width: 90%;
    margin:auto;
    margin-top: 10px;
}

table
{
    margin: auto;
    border: 2px solid white;
    width: 40%;
}

td
{
    height: 200px;
    width: 200px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
}

label, button
{
    cursor: pointer;
}